<div class="container">
<div class="card text-center m-4">
  <div class="card-header">
 {{blog_title}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{blog_title}}</h5>
    <p class="card-text">{{blog_content}}</p>
  </div>
  <div class="card-footer text-body-secondary">
    {{blog_created}}
  </div>
   <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Edit post..."></textarea>
 <button type="button" class="btn btn-primary m-2" data-id="{{id}}">Edit</button>
 <button type="button" class="btn btn-danger m-2" data-id="{{id}}">Delete</button>
</div>
</div>
<script src="/js/delete.js"></script>