<div class="container">
<div class="card text-center m-4">
  <div class="card-header">
 {{blog_title}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{blog_title}}</h5>
    <p class="card-text">{{blog_content}}</p>
  </div>
  <div class="card-footer text-body-secondary">
    {{blog_created}}
  </div>
 <label for="exampleFormControlInput1" class="form-label">Title</label>
      <input type="text" class="form-control" id="post-title" placeholder="Title"/>
   <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Edit post..."></textarea>
 <button type="button" class="btn btn-primary btn-edit m-2" data-edit="{{id}}">Edit</button>
 <button type="button" class="btn btn-danger btn-delete m-2" data-delete="{{id}}">Delete</button>
</div>
<h2 class="text-center">Add comment</h2>
 <div class="card card-body">
       <div id="comment-list-{{id}}"></div>
      <textarea class="form-control add-comment"  id="comment-{{id}}" rows="3" placeholder="Add comment..."></textarea>
    </div>
    <a class="btn btn-success btn-comment m-2" data-comment="{{id}}">Add Comment</a>
</div>

<script src="/js/edit.js"></script>


