 {{#each blogs as |blog|}}
<div class="card text-center m-4">
  <div class="card-header">
 {{blog.blog_title}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{blog.blog_title}}</h5>
    <p class="card-text">{{blog.blog_content}}</p>
  </div>
  <div class="card-footer text-body-secondary">
    {{blog.blog_created}}
  </div>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Write a comment...">Write comment... </textarea>
     <button class="btn btn-comment-{{blog.id}} btn-secondary mt-3" data-id="{{blog.id}}">Add Comment</button>
</div>
  {{/each}} 
       <footer class="bg-dark text-white">
    <div class="container-fluid py-3 text-center">
            <div class=" text-center small align-item-end">©{{format_date}} Iaroslav Lasiichuk, Inc.</div>
    </div>
      <script src="/js/comment.js"></script>